/* *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.title-div h2{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    color:#030037;
}

.title-div h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:#686687
} */