/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* .form-title{
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0025em;
    width: 567px;
    height: 20px;
} */
/* .form-title h2{
  font-size: 32px;
  letter-spacing: -0.5%;
  font-family: Nunito Sans;
  font-weight: 800;
  line-height: 43.65px;
  color: #030037;
}
.form-title h3{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #686687;
} */